allow ueventd vfat:dir search;
allow ueventd vfat:file { read open };
allow ueventd vfat:file getattr;
allow ueventd sysfs_devices_fingerprint:file w_file_perms;
